<h2>Pagos</h2>
<hr>

<div class="balance-window">
    <form (ngSubmit)="guardar(miFormulario)" #miFormulario="ngForm">
        <ul class="flex-outer">
            <li>
                <label> Amigo:</label>
                <input type="text" class="form-control" ngModel name="name" required placeholder="Nombre de la persona">
            </li>
            <li>
                <label> Concepto:</label>
                <input type="text" class="form-control" ngModel name="description" required
                    placeholder="Concepto del Pago">
            </li>
            <li>
                <label> Importe:</label>
                <input type="number" class="form-control" ngModel name="amount" required placeholder="Importe del Pago">
            </li>
            <li>
                <label> Fecha y hora:</label>
                <input type="datetime" ngModel name="date" required placeholder="yyyy-MM-dd HH:mm:ss">
            </li>
            <li>
                <button type="submit"> Guardar</button>
            </li>
        </ul>
    </form>
</div>