<h2>Template: <small>Balances</small></h2>
<hr>
<div class="balance-window">
    <div>
        <h3>Gastos:</h3>
        <div class="card-list">
            <div class="card" *ngFor="let payment of payments">
                <label *ngIf="payment.payer.name">{{payment.payer.name}}</label>
                <label *ngIf="payment.description">{{payment.description}}</label>
                <label *ngIf="payment.amount">{{payment.amount | currency:'€':code:'0.1-2'}}</label>
                <label *ngIf="payment.date">{{payment.date | dateAgo}}</label>
            </div>
        </div>
    </div>
    <div>
        <h3>Balance:</h3>
        <div class="card-list">
            <div class="card card-small" *ngFor="let balance of balanceFriends">
                <label *ngIf="balance.name">{{balance.name}}</label>
                <label *ngIf="balance.balance">{{balance.balance | currency:'€':code:'0.1-2'}}</label>
            </div>
        </div>
    </div>
</div>