<h2>Amigos</h2>
<hr>

<div class="balance-window">
    <form (ngSubmit)="guardar(miFormulario)" #miFormulario="ngForm" autocomplete="off">
        <ul class="flex-outer">
            <li>
                <label>Nombre:</label>
                <input type="text" ngModel name="name" required placeholder="Nombre del amigo">
            </li>
            <li>
                <button type="submit">Guardar</button>
            </li>
        </ul>
    </form>
    <div>
        <h3>Lista de Amigos:</h3>
        <div class="card-list">
            <div class="card card-small" *ngFor="let friend of friends">
 <!--                <p *ngIf="friend.id">Id: {{friend.id}}</p> -->
                <p *ngIf="friend.name">{{friend.name}}</p>
            </div>
        </div>
    </div>
</div>